
<div class="container">
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">หมวดหมู่สินค้า</h1>
            <form class="row mt-3" [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>ชื่อหมวดหมู่สินค้า</mat-label>
                        <input matInput placeholder="ชื่อหมวดหมู่" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>คำอธิบายหมวดหมู่สินค้า</mat-label>
                        <input matInput placeholder="คำอธิบายหมวดหมู่สินค้า" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" (click)="onReset()">รีเซ็ท</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5">
        <mat-form-field appearance="outline">
            <mat-label>ค้นหา</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort
        #matSort="matSort">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>หมวดหมู่สินค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>คำอธิบายหมวดหมู่สินค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.description}}
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>แก้ไข</th>
            <td mat-cell *matCellDef="let t">
                <button class="btn btn-warning" (click)="onEdit(t)">แก้ไข</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row class="example-detail-row"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8 col-12" #matPaginator="matPaginator"
        [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>