
<div class="container">
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">ข้อมูลสินค้า</h1>
            <form class="row mt-3" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>ชื่อสินค้า</mat-label>
                        <input matInput placeholder="ชื่อสินค้า" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>หน่วยสินค้า</mat-label>
                        <input matInput placeholder="หน่วยสินค้า" formControlName="unit">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>ราคาสินค้า</mat-label>
                        <input matInput placeholder="ราคาสินค้า" formControlName="price">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>หมวดหมู่สินค้า</mat-label>
                        <mat-select formControlName="group_name">
                          <mat-option *ngFor="let g of groups" [value]="g.name">
                            {{g.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-9">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>รายละเอียดสินค้า</mat-label>
                        <input matInput placeholder="รายละเอียดสินค้า" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" (click)="onReset()">รีเซ็ท</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5">
        <mat-form-field appearance="outline">
            <mat-label>ค้นหา</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort
        #matSort="matSort">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="store_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อร้านค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.store_name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="group_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>หมวดหมู่สินค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.group_name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ลบสินค้า</th>
            <td mat-cell *matCellDef="let t">
                <button class="btn btn-danger" (click)="onDelete(t._id)">ลบ</button>
            </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- <div class="example-element-diagram">
                        <div class="example-element-position"> {{element.position}} </div>
                    </div> -->
                    <div class="example-element-description">
                        <span class="example-element-symbol"> {{element.name}} </span>
                        <ul>
                            <li class="example-element-weight"> ราคาสินค้า: {{element.price}} </li>
                            <li class="example-element-name"> หน่วยสินค้า: {{element.unit}} </li>
                            <li class="example-element-name"> รายละเอียดสินค้า: {{element.description}} </li>
                        </ul>
                        <button class="btn btn-warning" (click)="onEdit(element)">แก้ไข</button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8 col-12" #matPaginator="matPaginator"
        [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>