
<div class="container">
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">ข้อมูลร้านค้า</h1>
            <form class="row mt-3" [formGroup]="storeForm" (ngSubmit)="onSubmit()">
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>ชื่อร้านค้า</mat-label>
                        <input matInput placeholder="ชื่อร้านค้า" formControlName="name">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>คำอธิบายร้านค้า</mat-label>
                        <input matInput placeholder="คำอธิบายร้านค้า" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>เบอร์ติดต่อร้านค้า</mat-label>
                        <input matInput placeholder="เบอร์ติดต่อร้านค้า" formControlName="tel">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>ที่อยู่</mat-label>
                        <input matInput placeholder="ที่อยู่" formControlName="address">
                    </mat-form-field>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" (click)="onReset()">รีเซ็ท</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5">
        <mat-form-field appearance="outline">
            <mat-label>ค้นหา</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort
        #matSort="matSort">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อร้านค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>เบอร์ติดต่อร้านค้า</th>
            <td mat-cell *matCellDef="let t">
                {{t.tel}}
            </td>
        </ng-container>
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>สินค้า</th>
            <td mat-cell *matCellDef="let t">
                <a class="nav-link" [routerLink]="['/product/', t.name]"><span class="material-icons">shop_two</span></a>
            </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- <div class="example-element-diagram">
                        <div class="example-element-position"> {{element.position}} </div>
                    </div> -->
                    <div class="example-element-description">
                        <span class="example-element-symbol"> {{element.name}} </span>
                        <ul>
                            <li class="example-element-weight"> เบอร์ติดต่อ: {{element.tel}} </li>
                            <li class="example-element-name"> ที่อยู่: {{element.address}} </li>
                            <li class="example-element-name"> คำอธิบาย: {{element.description}} </li>
                        </ul>
                        <button class="btn btn-warning" (click)="onEdit(element)">แก้ไข</button>
                        <!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8 col-12" #matPaginator="matPaginator"
        [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>