<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Paiduay-Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="store">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="group">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="test"><label>{{</label>TESTS<label>}}</label></a>
        </li>
      </ul>
    </div>
  </nav>