<div class="container">
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">Test ข้อ 1</h1>
            <form class="row mt-3" [formGroup]="t1Form" (ngSubmit)="onTest1()">
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="3" formControlName="t1">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="RRG" formControlName="t2">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <h3>Result:-> [ {{t1Res}} ]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">Test ข้อ 2</h1>
            <form class="row mt-3" [formGroup]="t2Form" (ngSubmit)="onTest2()">
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="125" formControlName="t1">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <h3>Result:-> [ {{t2Res}} ]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mat-elevation-z8 mt-5">
        <div class="card-body">
            <h1 class="mt-4">Test ข้อ 3</h1>
            <form class="row mt-3" [formGroup]="t3Form" (ngSubmit)="onTest3()">
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="5" formControlName="t1">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="5" formControlName="t2">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="3" formControlName="t3">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                        <input matInput placeholder="2" formControlName="t4">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <h3>Result:-> [ {{t3Res}} ]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>